/game/apps/libmaps/node.exe
/game/apps/libmaps/trans.bat
/game/apps/libmaps/tsc
/game/apps/libmaps/tsc.cmd
/game/apps/libmaps/tsc.ps1
/game/apps/libmaps/tsserver
/game/apps/libmaps/tsserver.js
/game/apps/libmaps/tsserver.ps1
/game/apps/libmaps/tsserver.cmd
/game/apps/libmaps/node_modules/