/* ウェブフォントを使用する場合はここに定義を追加して下さい */
/*
@font-face {
    font-family: "mfrules";
    src: url("../../data/others/Mf_Break_The_Rules.eot?") format("eot"),
	    url("../../data/others/Mf_Break_The_Rules.woff") format("woff"),
        url("../../data/others/Mf_Break_The_Rules.ttf") format("truetype"),
        url("../../data/others/Mf_Break_The_Rules.svg#MfBreakTheRules") format("svg");
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: IBMVGA;
    src: url("../../data/others/Bm437_IBM_VGA_8x16.FON") format("bitmap"),
         url("../../data/others/Web437_IBM_VGA_8x16.woff") format("woff"),
         url("../../data/others/Mx437_IBM_VGA_9x16.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}